

.navbar h1 {
    color: white;
    background: rgb(23, 24, 51);
    vertical-align: middle;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0;
}

th {
    width: 400px;
    height: 60px;
    font-size: 1.2rem;
    background-color: rgb(177, 179, 164);
}
td {
    display: table-cell;
    width: 400px;
    text-align: center;
    height: 40px;
    background-color: rgb(199, 197, 197);
    padding: 10px;
}

.drpdwn {
    display: flex;
}

.drp-select {
    margin: auto 20px;
}

select {
    width: 60px;
    height: 25px;
    border-radius: 5px;
    margin-top: 5px;
}

.drp-wing {
    margin-left: 120px;
}